.container {
    padding-left: 16px;
    padding-right: 16px;
}

.btn {
    background-color: $primary-bg-color;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 80px;
    border: none;

    &:nth-child(2) {
        margin-left: 4px;
    }
}

.input { }


