.container {
    padding-left: 16px;
    padding-right: 16px;
    
    @media screen and (max-width: 767px) {
        max-width: 360px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1024px) {
        max-width: 1024px;
    }

    @media screen and (min-width: 2560px) {
        max-width: 2560px;
    }

    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    background-color: $primary-bg-color;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 80px;
    border: none;
    width: 100px;
    @extend %body-font-size;

    &:nth-child(2) {
        margin-left: 12px;
    }
}

.input {
    padding: 20px;
    border: 1px solid #D0CFCF;
    border-radius: 4px;

    &::placeholder {
        @extend %body-font-size
    }
}

.message {
    text-align: left;
    @include text-color($error-color);
    font-size: 12px;
    line-height: 1.16;
    margin-top: 4px;
}

.hint {
    @include text-color($message-color);
    font-size: 12px;
    line-height: 1.16;
    margin-left: 16px
}