@import "./utils/variables";
@import "./utils/mixins";

@import "./base/common";
@import "./base/placeholders";
@import "./base/reset";

@import './components/header';
@import './components/hero';
@import './components/users-list';
@import './components/users-item';
@import './components/sign-up';
@import './components/positions';
@import './components/photo-input';