@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hover-background($color) {
    &:hover {
        background-color: $color;
    }
}

@mixin text-color($color) {
    color: $color;
}