.hero {
    background-image: url('../../../public/assets/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    text-align: center;

    @media screen and (min-width: 1024px) {
            max-width: 1170px;
            margin: 0 auto;
        }

    &__wrapper {
        padding: 30px 16px;
        background-color: rgba(0, 0, 0, 0.5);
        
        @media screen and (min-width: 768px) {
            padding: 80px 190px;
            }

        @media screen and (min-width: 1024px) {
            padding: 120px 320px;
        }
    }

    &__headline {
        @include text-color($primary-color);
        @extend %heading-font-size;
    }

    &__paragraph {
        margin-top: 20px;
        @include text-color($primary-color);
        @extend %body-font-size
    }

    &__btn {
        margin-top: 40px;

        @include hover-background($accent-color);
    }
}

