.photo {
    margin-top: 40px;

    &__container {
        display: flex;
        cursor: pointer;
    }

    &__btn {
        border: 1px solid $secondary-color;
        padding: 20px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &__input {
        width: 100%;
        text-align: left;
        padding: 20px;
        border-width: 1px 1px 1px 0;
        border-style: solid;
        border-color: #D0CFCF;          border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        &::before {
            content: "Upload your photo";
            @include text-color($message-color);
        }

        &.has-file::before {
            content: attr(data-file-name);
            @include text-color($secondary-color);
        }

        &.no-file::before {
            content: "Upload your photo";
            @include text-color($message-color);
        }
}

    &__file {
        display: none;
    }
}

.error {
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: $error-color; 
}

.border {
    border-left-width: 0;
}