.position {
    text-align: left;
    margin-top: 40px;

    &__list {
        margin-top: 10px;
        display: inline-flex;
        flex-direction: column;
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
