.sign-up {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

    &__heading {
            @extend %heading-font-size
        }
}

.form {

        &__btn {
            margin-top: 40px;
            &:hover {
                background-color: $accent-color;
            }
        }

        &__disabled {
            margin-top: 40px;
            background-color: $disabled-color;
            color: $primary-color;
            cursor: default;
        }

        &__image {
            margin-top: 80px
        }
    
    @media screen and (min-width: 768px) {
        width: 380px;
        margin: 0 auto;
    }
}

.input-wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        width: 100%;
    }
    
    &__name {
        margin-top: 40px;
    };
    &__email {
        margin-top: 40px;
    };
    &__phone {
        margin-top: 40px;
    }
}


